nav {
  background-color: #1a1a2e;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  color: #eaeaea;
  cursor: pointer;

}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0px;
}

nav ul li {
  position: relative;
}

nav a {
  color: #eaeaea;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100%;
}

nav a:hover {
  background-color: #253a74;
  transform: translateY(-3px);
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

nav a.active {
  background-color: #0f3460;
  color: #fff;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #1a1a2e;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 1rem 0;
  }

  nav ul.active {
    display: flex;
  }

  nav a {
    font-size: 1rem;
    padding: 0.75rem;
    width: 100%;
    text-align: center;
  }
}

/* Highlight the Election Commission link differently */
nav ul li:nth-child(4) a {
  background-color: #e94560;
  color: #fff;
}

nav ul li:nth-child(4) a:hover {
  background-color: #b42b47;
}